{% extends "base.html" %}
{% block document_title %}Новости{% endblock document_title %}
{% block additional_styles %}
    <style>
        .news-container {
            display: grid;
            grid-template: auto / repeat(3, 1fr);
            gap: 20px;
        }

        .article {
            margin: 10px auto 0;
            border: 1px solid black;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .article__title {
            font-weight: Bold;
            text-decoration: underline;
        }
        .article__date {
            align-self: flex-end;
        }

        img {
            width: 100%;
            max-height: 400px;
            align-self: flex-start;
            display: inline-block;
            align-self: center;
            object-fit: cover;
        }
    </style>
{% endblock additional_styles %}
{% block content %}
    {% load static %}
    <h1>Новости</h1>
    <div class="news-container">
        {% if news %}
        {% for article in news %}
        <div class="article">
            {% if article.image %}
                <img class="" src="{% static article.image %}" alt="">
            {% endif %}
            <a href="{% url 'mainApp:one_article' article.id %}" class="article__title common-text">{{ article.title }}</a>
            <p class="article__date common-text">{{ article.created_at }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p class="common-text">Простите, статьи не найдены</p>
        {% endif %}
    </div>
{% endblock content %}